
$perpective: 1200px;
$transform-style: preserve-3d;

@mixin dimen ($width:100%, $height:100%, $minWidth:null, $minHeight:null) {
    @if $width != null {
        width: $width;
    }
    @if $height != null {
        height: $height;
    }
    @if $minWidth != null {
        min-width: $minWidth;
    }
    @if $minHeight != null {
        min-height: $minHeight;
    }
}
@mixin border ($border:null, $radius:null) {
    @if $border != null {
        border: $border;
    }
    @if $radius != null {
        border-radius: $radius;
    }
}
@mixin boxModel ($margin:null, $padding:null, $border:null, $radius:null) {
    @include border($border, $radius);
    @if $margin != null {
        margin: $margin;
    }
    @if $padding != null {
        padding: $padding;
    }
}
@mixin position ($top:null, $left:null, $bottom:null, $right:null) {
    @if $top != null {
        top: $top;
    }
    @if $left != null {
        left: $left;
    }
    @if $bottom != null {
        bottom: $bottom;
    }
    @if $right != null {
        right: $right;
    }
}
@mixin dimenPos ($width:100%, $height:100%, $position:absolute) {
    @include dimen($width, $height);
    position: $position;
}
@mixin dimenBox ($width:100%, $height:100%, $margin:null, $padding:null, $border:null, $radius:null) {
    @include dimen($width, $height);
    @include boxModel($margin, $padding, $border, $radius:null);
}
@mixin dimenPosBox ($width:100%, $height:100%, $position:absolute, $margin:null, $padding:null, $border:null, $radius:null) {
    @include dimenPos($width, $height, $position);
    @include boxModel($margin, $padding, $border, $radius:null);
}
@mixin dimenPosition ($width:100%, $height:100%, $position:absolute, $top:null, $left:null, $bottom:null, $right:null) {
    @include dimenPos($width, $height, $position);
    @include position($top, $left, $bottom, $right);
}
@mixin fontStyle ($fontWeight:null, $fontStyle:null, $fontFamily:null) {
    @if $fontWeight != null {
        font-weight: $fontWeight;
    }
    @if $fontStyle != null {
        font-style: $fontStyle;
    }
    @if $fontFamily != null {
        font-family: $fontFamily;
    }
}
@mixin font ($size:null, $color:null, $lineHeight:null, $fontWeight:null, $fontStyle:null, $fontFamily:null) {
    @if $size != null {
        font-size: $size;
    }
    @if $color != null {
        color: $color;
    }
    @if $lineHeight != null {
        line-height: $lineHeight;
    }
    @include fontStyle($fontWeight, $fontStyle, $fontFamily);
}
@mixin bgGradient ($bg...) {
    background-image: gradient($bg);
}
@mixin animation ($name, $duration:null, $easing:null, $fillMode:null, $delay:null, $count:null, $direction:null) {
    -webkit-animation: $name $duration $easing $fillMode $delay $count $direction;
}
