/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import 'base';

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
body {
    height: 100%;
}
html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    @include font(1.8em, #fff, 1.4em, null, null);
    font-family: 'UltraLight',Sans-Serif;
    background: #727271;
    overflow: auto;
    overflow-x: hidden;

    a {
        color: #fff;

        &:active, &:hover, &:visited {
            color: #fff;
            text-decoration: none;
        }
    }

    /*
     * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
     */
    img {
        vertical-align: middle;
    }

    /*
     * Remove default fieldset styles.
     */
    fieldset {
        @include boxModel(0, 0, 0);
    }

    /*
     * Allow only vertical resizing of textareas.
     */
    textarea {
        resize: vertical;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@mixin changeBgColor ($classname, $from, $to) {
    @-webkit-keyframes #{$classname} {
        from { background: $from; }
        to { background: $to; }
    }
}
@mixin line ($height:5px, $marginBottom:0) {
    @include dimenBox(25px, $height, 0 auto $marginBottom);
    border-bottom: 1px solid #767676;
}

@font-face {
    @include fontStyle(100, normal, 'UltraLight');
    src: local('Helvetica Neue UltraLight'), local('Helvetica-Neue-UltraLight'), url(../fonts/HelveticaNeue-UltraLight.woff) format('woff');
}

/*
 * Network connectivity
 */
$on: #3DB094;
$off: #d74352;
$dis: gray;
$summarySttHeight: 3px;
@include changeBgColor(onlineHandler, #ccc, $on);
@include changeBgColor(offlineHandler, #ccc, $off);
@include changeBgColor(disabledHandler, #ccc, $dis);
#status-summary {
    @include dimenPos(100%, $summarySttHeight, fixed);
    margin-left: -15px;
    z-index: 12000;
    background-color: gray;

    .row {
        .wrapper {
            height: $summarySttHeight;
            
            .visual {
                display: none;
            }
            &.on {
                @include animation(onlineHandler, 800ms, null, null, 800ms, 5);
                background-color: $on;
            }
            &.off {
                @include animation(offlineHandler, 800ms, null, null, 800ms, 5);
                background-color: $off;
            }
            &.dis {
                @include animation(disabledHandler, 800ms, null, null, 800ms, 5);
                background-color: $dis;
            }
        }
    }
}
$bg: #232424;
$pageOffset: 70px; // 70px for transition bounce down more
.fullpage {
    @include dimenPos(100%, 100%, fixed);
    z-index: 11000;
    background-color: rgba(150,150,150,.5);
    -webkit-transition: bottom 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550), background 300ms;

    .connectivity {
        @include dimenBox(100%, null, -$pageOffset auto 0, $pageOffset 15px 12px, 0 solid #4a4b53);
        border-bottom-width: 2px;
        background-color: $bg;
    }

    .wrapper {
        opacity: .3;

        .text {
            font-size: .8em;
            padding: 6px 0;
        }
        .status {
            @include dimenPosBox(50px, 50px, relative, auto, 0, 1px solid white);
            border-radius: 30px;

            .ico {
                @include dimen();
                @include font(.8em, null, 40px);
                @include border(4px solid transparent, 30px);
                background-color: $bg;
            }
        }
        &.on, &.off {
            opacity: 1;

            .status .ico {
                background-color: white;
                border-color: $bg;
            }
        }
        &.on {
            .text {
                color: #3DB094;
            }
            .status {
                border-color: #3DB094;
                color: $bg;
            }
        }
        &.off {
            .text {
                color: #d74352;
            }
            .status {
                border-color: #d74352;
                color: $bg;
            }
        }

    }
}

/*
 * Page transition setup.
 */
.pt-perspective {
    @include dimenPos(100%, 100%, relative);
    -webkit-perspective: 1200px;

    .pt-page {
        @include dimenPosition(100%, 100%, absolute, 0, null, 0);
        //    @include dimen(100%, null, null, $minHeight);
        overflow: hidden;
        //transition: background-color 1s ease;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transform-style: preserve-3d;

        .armedBgColor {
            background-color: rgba(74, 217, 182, 0.85);
        }
        .disarmBgColor {
            background-color: rgba(221, 68, 84, 0.85);
        }

        .pt-tab {
            @include dimenPos(100%, null, relative);
        }
        .login-bg {
            @include dimenPos();
            background: transparent center top no-repeat;
            background-size: cover;
            background-image: url(../images/bg.jpg);
            opacity: .6;
            -webkit-filter: blur(8px);
        }
    }
    .pt-page-current, .no-js .pt-page {
        visibility: visible;
        display: block;
        z-index: 1;
    }
    .pt-page-ontop {
        z-index: 999;
    }
}

/*
 * Login Page
 */
.pt-page {
    $height: 45px;

    .loginPage {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;


        .logo, .services {
            position: relative;
            height: auto;
            width: 100%;

            .wrapper {
                margin: auto;
            }
        }
        .logo {
            left: 0;

            .wrapper {
                margin-top: 30px;
                width: 280px;
                height: 100px;
            }
            margin-left: 0; padding:0; // remove when old code delete
        }
        .services {
            right: 0;

            .wrapper {
                width: 320px;
                height: 313px;

                .authOptions div.input {
                    width: 230px;
                    margin: 0 auto;

                    input {
                        @include dimenBox(230px, null, 0 auto 20px, null, 0);
                        background-color: transparent;
                        border-bottom: 1px solid rgba(255, 255, 255, .75);
                        color: #fff;
                    }
                    ::-webkit-input-placeholder {
                        color: rgba(255, 255, 255, .6);
                    }
                }
            }
        }

        div.footer {
            @include position(null, null, 20px, 20px);
            position: fixed;

            .text {
                display: inline;
                font-size: 11px;
            }
            .button {
                @include font(13px, #fff, 15px, bold);
                @include boxModel(null, 5px 0, null, 5px);
                padding: 5px 10px;
                display: inline;
                text-align: center;
                background-color: rgba(255, 255, 255, .3);
            }
        }

        @media only screen and (orientation: portrait) and (min-width: 320px) { // iPhone 4 or below
            .logo, .services {
                .wrapper {
                    position: relative;
                }
            }
        }
        @media only screen and (orientation: landscape) and (min-width: 480px) { // iPhone 4 or below
            .logo, .services {
                position: absolute;
                height: 100%;
            }
            .logo {
                width: 45%;

                .wrapper {
                    width: 180px;
                }
            }
            .services {
                width: 55%;
                font-size: 13px;

                .wrapper {
                    width: 260px;

                    div.authOptions {
                        width: 250px;

                        div.input {
                            width: 175px;

                            input {
                                width: 168px;
                                margin-bottom: 10px;
                            }
                        }
                        div.authDivider {
                            margin-bottom: 10px;

                            div.divider {
                                width: 22%;
                            }
                            div.or {
                                width: 56%;
                            }
                        }
                    }
                }
            }
        }
        @media only screen and (min-width: 533px) { // HTC Desire
            .logo, .services {
                position: absolute;
                height: 100%;

                .wrapper {
                    @include centralize();
                }
            }
            .logo {
                width: 45%;
                height: 230px;

                .wrapper {
                    width: 188px;
                }
            }
            .services {
                width: 55%;

                .wrapper div.authOptions {
                    width: 280px;

                    div.input {
                        width: 205px;

                        input {
                            width: 205px;
                        }
                    }
                }
            }
        }
        @media only screen and (min-width: 600px) { // Samsung Galaxy Tab / Nexus 7
            .services .wrapper {
                width: 300px;
            }
        }
        @media only screen and (min-width: 800px) { // Samsung Galaxy Tab 7
            .logo, .services {
                position: absolute;
                height: 100%;
            }
            .logo {
                width: 50%;
            }
            .services {
                width: 50%;
            }
        }

        @media only screen and (orientation: landscape) and (min-height: 320px) {
            div.footer {
                @include position(null, null, 8px, 8px);
            }
        }
        @media only screen and (orientation: portrait) and (max-height: 480px) {
            div.logo .wrapper {
                margin-top: 22px;
            }
        }
        @media only screen and (orientation: portrait) {
            div.logo {
                .icon-IZCircle {
                    margin-right: 12px;
                    float: left;
                }
            }
        }
    }

    div.logo {
        @include dimenPos(210px, 280px);
        @include position(0, 10px, 10px);
        margin: auto;
        padding: 15px;
    }
    .services .wrapper div.authOptions {
        @include dimenPos(320px, 313px);
        @include position(0, 0, 0, 0);
        margin: auto;
        padding: 15px;
        opacity: 1;
        -webkit-transition: -webkit-filter 2s, opacity 1s;

        div.withServices {
            max-width: 300px;
            margin: 20px auto;

            .inputWrap {
                margin-bottom: 12px;
                height: $height;

                div {
                    float: left;
                }
                .icon {
                    @include dimen($height, $height);
                    @include font(10px, null, $height);
                    text-align: center;
                }
                .input {
                    line-height: $height;

                    .text {
                        padding-left: 12px;
                        strong {
                            padding-left: 5px;
                        }
                    }
                }
            }
            .facebook {
                background-color: rgba(60, 90, 152, .8);

                .icon-facebook {
                    background-color: #3c5a98;
                }
            }
            .google {
                background-color: rgba(221, 75, 57, .8);

                .icon-gplus {
                    background-color: #dd4b39;
                }
            }
        }

        div.authDivider {
            max-width: 300px;
            margin: 20px auto;

            div.or {
                float: left;
            }
            div.divider {
                width: 27%;
                height: 1px;
                margin-top: 12px;
                background: #ddd;
            }
            div.or {
                width: 46%;
                font-size: 11px;
                text-align: center;
            }
            div.clear {
                clear: both;
            }
        }
    }

//    @media only screen and (orientation: landscape) {
//        div.authOptions {
//            left: inherit;
//            right: 40px;
//        }
//        div.footer {}
//    }
//    @media only screen and (min-width: 480px) {
//        div.authOptions {
//            width: 260px;
//
//            div.withServices {
//                margin: 10px auto;
//
//                .inputWrap .input {
//                    width: 150px;
//
//                    .text {
//                        font-size: 13px;
//                    }
//                }
//            }
//            div.authDivider {
//                div.authDivider {
//                    margin: 10px auto;
//                }
//                div.or {
//                    font-size: 10px;
//                }
//            }
//            div.input input {
//                font-size: 15px;
//            }
//        }
//    }
//    @media only screen and (min-height: 320px) {
//        div.authOptions {
//            right: 8px;
//
//            div.authDivider {
//                margin: 10px auto;
//            }
//        }
//        div.footer {
//            @include position(null, null, 10px, 10px);
//        }
//    }
}

/*
 * Page Wrapper
 */
$onlineStatusBarHeight: 3px;
$headerHeight: 60px;
$pageIconHeight: 40px;
$tallHeaderHeight: 100px;
$tabHeight: 87px;
$alarmToolbarHeight: 66px;
div.pt-page {
    /*
     * Page Header
     */
    div.header {
        width: 100%;
        height: $headerHeight;
        // @include dimenPos(100%, $headerHeight, fixed);
        background-color: rgba(48, 48, 48, .99);
        z-index: 3;

        .row {
            padding: 10px 15px;

            .pageTitle {
                line-height: 2em;

                div.icon-title {
                    display: none;

                    div.iconWrapper {
                        width: 65px;
                        height: 38px;
                        //@include dimen(65px, 38px);
                        margin: auto;
                        overflow: hidden;
                    }
                    div.line {
                        @include line(8px);
                    }
                }
            }
        }
    }
    
    /*
     * Page Tabs
     */
    .tabWrap {
        position: relative;
        display: none;

        .arrow {
            width: 10px;
            height: 10px;
            position: absolute;
            top: -5px;
            left: -10px;
            background-color: rgba(48,48,48,.99);
            transition: left 300ms;
            -webkit-transform: rotate(45deg);
        }
        .tabs {
            display: table;
            width: 100%;
            height: $tabHeight + 1px; // this 1px will show a line at tab bottom when body scroll up
            padding: 12px 0;
            background-color: rgba(50,50,50,.2);
            
            .tab {
                margin-top: 5px;
                opacity: .2;

                span {
                    font-size: .6em;
                }
                &.selected {
                    opacity: 1;
                }
            }
        }
    }


    /*
     * Page Body
     */
    div.bodyWrap {
        position: absolute;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        top: $headerHeight;
        bottom: 0;

        div.body {
            margin-top: 1px;
            width: 100%;
            height: 100%;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin-top: 1px;
                    padding: 15px;
                    background-color: rgba(50, 50, 50, 0.2);
                    .description {
                        font-size: .65em;
                    }

                    a.ln {
                        color: white;
                        display: block;
                    }
                    div {
                        line-height: 35px;

                        .ico {
                            font-size: .9em !important;
                        }
                    }
                }
                li.disabled {
                    background-color: rgba(150, 150, 150, 0.5);

                    .icon {
                        font-size: 1.2em !important;
                    }
                }
            }
        }
    }

    /*
     * Overwrite classes
     */
    &.armed {
        background-color: #43AF94;
    }
    &.disarmed {
        background-color: #F96F57;
    }
    &.emergency {
        background-color: #EE5567;
    }
    &.mainmenu {
        background-color: #303131;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                display: list-item;
                font-size: 20px;
                padding: 20px 0;
                text-align: center;

                a {
                    color: #ff8c00;
                    text-decoration: none;
                }
            }
        }
    }
    &.ui-tabs {
        @media only screen and (min-height: 400px) { // only if screen higher than 400px only show tabs
            div.tabWrap {
                display: block;
            }
            div.bodyWrap {
                top: $headerHeight + $tabHeight;
                
                div.body {
                    margin-top: 2px;
                }
            }
        }
    }
    &.ui-pageIcon {
        @media only screen and (min-height: 400px) { // only if screen higher than 400px only use taller header
            div.header {
                height: $headerHeight + $pageIconHeight;

                div.icon-title {
                    display: block !important;
                }
            }
            div.bodyWrap {
                top: $headerHeight + $pageIconHeight;
            }
        }
    }
    &.lgRow {
        div.bodyWrap {
            div.body {
                ul {
                    li {
                        @media only screen and (orientation: portrait) {
                            padding: 35px 15px;
                        }

                        .description {
                            font-size: .7em;
                        }
                    }
                }
            }
        }
    }
    &.uiAlarmToolbar {
        div.bodyWrap {
            bottom: $alarmToolbarHeight + 1px;
        }
    }
    &.blurPage {
        .mainmenu .logo, .mainmenu .mainmenu, .header, .tabWrap, .bodyWrap .body {
            -webkit-filter: blur(10px);
        }
    }
}
div.pt-page.ui-pageIcon.ui-tabs {
    @media only screen and (min-height: 400px) { // only if screen higher than 400px only use taller header
        div.bodyWrap {
            top: $headerHeight + $pageIconHeight + $tabHeight;
        }
    }
}

/*
 * Alarm Toolbar
 */
$buttonDimen: 70px;
$buttonBorder: 2px;
.alarmToolbar {
    width: 100%;
    position: fixed;
    //@include dimenPos(100%, null, fixed);
    bottom: 0;
    padding-top: 2px;
    background-color: rgba(50, 50, 50, .5);
    z-index: 10000;
    -webkit-transition: top 300ms, background 300ms;
    
    .status {
        min-height: 66px;

        .icon {
            margin-top: 17px;
        }
        .curArmStatus {
            margin-top: 11px;
        }
        .description {
            font-size: 0.65em;
        }
        .rightCol {
            $margin: 5px;
            $totalMargin: $margin * 2;
            padding-left: 0;
            padding-right: 8px;

            div {
                width: $alarmToolbarHeight - $totalMargin;
                height: $alarmToolbarHeight - $totalMargin;
                //@include dimen($dimen, $dimen);
                margin: $margin 0;
                float: right;
                line-height: $alarmToolbarHeight - $totalMargin - 2;
            }
            .armButton {
                font-size: 0.8em;
                font-weight: bold;
                text-align: center;
                border: 1px solid #fff;
                border-radius: ($alarmToolbarHeight - $totalMargin) / 2;
            }
            .armIcon {
                font-size: 28px;
            }
        }
    }
    &.keypadPage {
        top: 0;
    }
    &.armed .passcode {
        .digits table div {
            background-color: rgba(152, 255, 152, 0.66);
        }
        .keypad .col .passcodeButton {
            border-color: rgba(152, 255, 152, 0.66);

            &.onTap {
                background-color: rgba(152, 255, 152, 0.66);
            }
        }
    }
    &.disarmed .passcode {
        .digits table div {
            background-color: rgba(249, 111, 87, 0.66);
        }
        .keypad .col .passcodeButton {
            border-color: rgba(249, 111, 87, 0.66);

            &.onTap {
                background-color: rgba(249, 111, 87, 0.66);
            }
        }
    }
    &.emergency .passcode {
        .digits table div {
            background-color: rgba(255, 152, 152, 0.66);
        }
        .keypad .col .passcodeButton {
            border-color: rgba(255, 152, 152, 0.66);

            &.onTap {
                background-color: rgba(255, 152, 152, 0.66);
            }
        }
    }

    /*
     * Passcode Page
     */
    .passcode {
        .row {
            margin: 15px auto;
        }

        .digits {
            .txt {
                margin: 3px 0;
                font-weight: bold;
                font-size: .9em;
                text-align: center;
            }
            table {
                margin: auto;
                height: 22px;

                div {
                    width: 10px;
                    height: 10px;
                    //@include dimen(10px, 10px);
                    border-radius: 5px;
                    margin: 5px;
                    background-color: rgba(255, 255, 255, 0.66);
                    float: left;
                }
            }
        }

        .keypad {
            width: 270px;
            padding-right: 7px;

            .col {
                padding: 0;

                .passcodeButton {
                    width: $buttonDimen;
                    height: $buttonDimen;
                    //@include dimen($dimen, $dimen);
                    text-align: center;
                    border: $buttonBorder solid rgba(255, 255, 255, 0.66);
                    color: rgba(255, 255, 255, 0.8);
                    margin: 15px;
                    font-size: 1.5em;
                    font-weight: bold;
                    line-height: $buttonDimen - $buttonBorder;
                    border-radius: $buttonDimen / 2;

                    &.onTap {
                        background-color: rgba(255, 255, 255, 0.66);
                    }
                }
                .ok, .cancel {
                    text-align: center;
                    font-size: .8em;
                    font-weight: bold;
                    line-height: $buttonDimen;
                }
            }
        }
    }
}



.pt-page.ng-enter {
    //z-index: 8888;
}
.pt-page.ng-leave {
    //z-index: 9999;
}

$duration: 300ms;
$easing: linear;
$delay: 0;
$nofx: nofx $duration $easing both;

.slide.ng-leave, .one-slide.ng-leave {
    -webkit-animation: moveToLeft $duration $easing both;
    z-index: 9999;
}
.slide.ng-enter, .one-slide.ng-enter {
    -webkit-animation: moveFromRight $duration $easing both $delay;
}
.singleFx { // this mean no fx apply to the page
    .slide.ng-leave, .slide.ng-enter {
        -webkit-animation: $nofx;
    }
}
.back {
    .slide.ng-leave, .one-slide.ng-leave {
        -webkit-animation: moveToRight $duration $easing both;
        z-index: 9999;
    }
    .slide.ng-enter, .one-slide.ng-enter {
        -webkit-animation: moveFromLeft $duration $easing both $delay;
    }
    .one-slide.ng-leave, .one-slide.ng-enter {
        z-index: 9999;
    }

    &.singleFx { // this mean no fx apply to the page
        .slide.ng-leave, .slide.ng-enter {
            -webkit-animation: $nofx;
        }
        .slide.ng-leave {
            z-index: 8888;
        }
    }
}

.slide3.ng-leave {
    -webkit-animation: moveToLeftFade 400ms cubic-bezier(0.230, 0.635, 0.355, 1.000) both;
}
.slide3.ng-enter {
    -webkit-animation: moveFromRight 400ms cubic-bezier(0.230, 0.635, 0.355, 1.000) both;
}

// dummy fading animation for no fx
@-webkit-keyframes nofx {
    99% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}
// rotate left (forward)
@-webkit-keyframes rotateCubeLeftOut {
    50% {
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
    }
    100% {
        opacity: .3;
        -webkit-transform: translateX(-100%) rotateY(-90deg);
    }
}
@-webkit-keyframes rotateCubeLeftIn {
    0% {
        opacity: .3;
        -webkit-transform: translateX(100%) rotateY(90deg);
    }
    50% {
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
    }
}
// rotate right (backward)
@-webkit-keyframes rotateCubeRightOut {
    50% {
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
    }
    100% { opacity: .3; -webkit-transform: translateX(100%) rotateY(90deg); }
}
@-webkit-keyframes rotateCubeRightIn {
    0% {
        opacity: .3;
        -webkit-transform: translateX(-100%) rotateY(-90deg);
    }
    50% {
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
    }
}
// slide left (forward) 
@-webkit-keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); }
}
@-webkit-keyframes moveToLeft {
    to { -webkit-transform: translateX(-100%); }
}
// slide right (backward)
@-webkit-keyframes moveToRight {
    to { -webkit-transform: translateX(100%); }
}
@-webkit-keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes moveToLeftFade {
    to { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes moveToRightFade {
    to { opacity: 0.3; -webkit-transform: translateX(100%); }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
body {
    /* Prevent callout */
    .nocallout {
        -webkit-touch-callout: none;
    }
    .pressed {
        background-color: rgba(0, 0, 0, 0.7);
    }

    /* A hack for HTML5 contenteditable attribute on mobile */
    textarea[contenteditable] {
        -webkit-appearance: none;
    }

    /* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
       they have been set as display: none */
    .gifhidden {
        position: absolute;
        left: -100%;
    }

    /*
     * Image replacement
     */
    .ir {
        background-color: transparent;
        background-repeat: no-repeat;
        border: 0;
        direction: ltr;
        display: block;
        overflow: hidden;
        text-align: left;
        text-indent: -999em;

        br {
            display: none;
        }
    }

    /*
     * Hide from both screenreaders and browsers: h5bp.com/u
     */
    .hidden {
        display: none !important;
        visibility: hidden;
    }

    /*
     * Hide only visually, but have it available for screenreaders: h5bp.com/v
     */
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    /*
     * Extends the .visuallyhidden class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */
    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

    /*
     * Hide visually and from screenreaders, but maintain layout
     */
    .invisible {
        visibility: hidden;
    }

    /**
     * Clearfix helper
     * Used to contain floats: h5bp.com/q
     */
    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
