doctype html
html.no-js
  head
    meta(charset='utf-8')
    title(translate) Integrated Security Solutions
    meta(name='description', content='Integrated Security Solutions')
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, minimal-ui')
    meta(http-equiv='cleartype', content='on')
    // build:css styles/vendor.css 
    // bower:css 
    // endbower 
    // endbuild 

    // build:css styles/main.css 
    // inject:css 
    // endinject 
    // endbuild 

    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/touch/apple-touch-icon-144x144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/touch/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/touch/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='images/touch/apple-touch-icon-57x57-precomposed.png')
    link(rel='shortcut icon', sizes='196x196', href='images/touch/touch-icon-196x196.png')
    link(rel='shortcut icon', href='images/touch/apple-touch-icon.png')
  
    // Tile icon for Win8 (144x144 + tile color) 
    meta(name='msapplication-TileImage', content='images/touch/apple-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content='#222222')

    // Add to homescreen for Chrome on Android 
    //
       <meta name="mobile-web-app-capable" content="yes">

    // For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 
    //
       <meta name="apple-mobile-web-app-capable" content="yes">
       <meta name="apple-mobile-web-app-status-bar-style" content="black">
       <meta name="apple-mobile-web-app-title" content="">

    // This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 
    //
       <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

    // inject:head:js 
    // endinject 

  body(ng-app='glApp')

    // Add site or application content here
    #pt-main.container(ng-controller='AppCtrl', class='pt-perspective {{backFxClass}} {{singleFx}}')
      #status-summary(connectivity, ng-hide='hideStatus')
        internet-status(column=4)
        cloud-status(column=4)
        hardware-status(column=4)
      notification.fullpage(hm-drag-up='swipeUp()')
        div.connectivity(connectivity)
          internet-status(column=4)
          cloud-status(column=4)
          hardware-status(column=4)
      .pt-page.row(ui-view, ng-class='{ uiAlarmToolbar:toolbar, blurPage:showKeypad }', class='{{pageFxClass}}')
      .row
        alarm-toolbar.alarmToolbar.col-xs-12(ng-show='toolbar', ng-class='alarmStatus')

    //[if lt IE 9]><![endif]

    // build:js scripts/vendor.js 
    // bower:js 
    // endbower 
    // endbuild 
  
    // build:js scripts/scripts.js 
    // inject:js 
    // endinject 
    // endbuild 
    script(type='text/ng-template', id='1_login-page')
      .pt-page
        .login-bg

        .row.loginPage
          .logo
            .wrapper
              div.icon-IZCircle(style='font-size:48px; font-weight:bold;')
              div(style='padding:20px 0 0; font-size:14px; line-height:14px; font-weight:bold;') Everything is in good hand
              div(style='font-size:10px;') Reliable home security & automation system.
          .services
            .wrapper
              .authOptions
                .withServices
                  .inputWrap.facebook(hm-tap='signin()')
                    .icon.icon-facebook
                    .input
                      span.text
                        span(translate) Sign in with
                        strong(translate) Facebook
                  .inputWrap.google(hm-tap='signin()')
                    .icon.icon-gplus
                    .input
                      span.text
                        span(translate) Sign in with
                        strong(translate) Google+
                .authDivider
                  .divider.pull-left
                  .or(translate) Or log in with your email
                  .divider.pull-right
                  .clear
                .input
                  input(type='text', placeholder='Username or email address', ng-model='username')
                  input(type='password', placeholder='Password', ng-model='password')
          div.footer
            div.text(translate) Don't have an account yet?
            div.button(translate) Sign up

    script(type='text/ng-template', id='2_menu-page-s')
      .pt-page.mainmenu
        .menu-logo.text-center(style='margin:50px 0 20px;')
          span.icon-IZCircle(style='font-size:56px;')
        ul.mainmenu
          li(hm-tap="goState($index)", ng-repeat='item in items', translate) {{ item | isLink }}
    
    script(type='text/ng-template', id='3_dashboard')
      .pt-page.ui-pageIcon.lgRow(ng-class='alarmStatus')
        .header(page-head, hm-drag-down='swipeDown()')
          icon-title
        div.bodyWrap(page-body)
      input(type='number', ng-model='zones', value='2')
      button(ng-click='updateZones()') Update

    script(type='text/ng-template', id='4_alarm-page')
      .pt-page.ui-pageIcon.ui-tabs(ng-class='alarmStatus')
        .header(page-head, hm-drag-down='swipeDown()')
          icon-title
        div(page-tab)
        div(ui-view, class='bodyWrap {{pageFxClass}}', hm-drag-left='swipe(1)', hm-drag-right='swipe(2)')
    script(type='text/ng-template', id='4.1_zones-page')
      div(page-body)
    script(type='text/ng-template', id='4.2_system-page')
      div(page-body)
    script(type='text/ng-template', id='4.3_emergency-page')
      div(page-body)
    script(type='text/ng-template', id='4.4_logs-page')
      div(page-body)